.login-page {
  background: var(--card-bg) !important
  background-color: var(---card-bg) !important
}
.login-box {
  width: 80%;
  background-image: url('../img/main-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.login-container {
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  border-radius: 24px;
  background: #FFFFFF;
  box-shadow: 0 17px 40px 0 #F0EDF6;
}

.welcome-bg {
  width 100%;
  height 100%

  .el-image {
    height: 100%;
    border-top-left-radius: 24px; /* 顶部左边角 */
    border-bottom-left-radius: 24px; /* 底部左边角 */
  }
}

.login-box {
  padding 60px;
  .corner-mark {
    position absolute
    top 0;
    right 0;
    cursor pointer;
    img {
      width 78px;
      height 78px;
    }
  }
  .login-tip {
    text-align: center;

    .title {
      font-size: 24px;
      line-height: 100%;
    }

    .sub-title {
      font-size: 14px;
      color: #6E6E6E;
      margin 24px;
    }
  }
}
.input-form {
  margin-top 56px;
}
.qrcode-box {
  margin-top 56px;
  text-align center;
  .qrcode-img {
    width 330px;
    height 330px;
    margin 0 auto;
    iframe {
      margin auto;
    }
  }
  .tip {
    margin-top 15px;
  }
}

.text-color-primary {
  cursor: pointer
}

.login-btn {
  width: 100%
  height: 56px;
  border-radius: 164px;
}

.code-input {
  width: 306px;
  margin-right: 9px;
}

:deep(.el-tabs__item.is-active), :deep(.el-tabs__item:hover) {
  color: var(--common-text-color) !important
}

:deep(.el-tabs__item) {
  color: var(--text-theme-color)
}