.common-layout .content {
  background-image: none !important;
}

.el-header {
  width 100%;
  position: relative;
  height: 74px;
}
.el-main {
  overflow: hidden;
  --el-main-padding: 0;
  margin: 0;

  #container {
    overflow-y: auto;
    scrollbar-width: none; /* 隐藏滚动条（Firefox） */
    -ms-overflow-style: none; /* 隐藏滚动条（IE、Edge） */
    width: 100%;
  }
}
.card-bg {
  height: 100%;
  background-image: url('../img/main-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  border-radius: 24px;
}